div{
    padding: 2px 2px 2px 2px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: tan;
  min-width: 160px;
}

.dropdown:hover .dropdown-content {
  display: block;
}